/* //////////////////////////strobe////////////////////////// */

.red {
  background-color: red;
}

#strobe {
  color: #C7C12E;
  animation: strobe 700ms steps(1, end) infinite;
  transition: flex .3s;
}

@keyframes strobe {
  50% {
    color: #FFE727;
  }
}

figure:after {
  content: attr(class);
}

body:hover figure {
  animation-play-state: paused;
  background: white;
}

body:hover figure:hover {
  animation-play-state: running;
  flex: 3;
}

/* //////////^^^^^^///////Strobe/////^^^^^^////////////// */
body, html {
  height: 100%;
  margin: 0;
}

header {
  padding-top: 2%;
}

#landing-background {
  background-image: url("FontsAndColorsAndImages/Landing Page Image.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

#game-background {
  background-image: url("FontsAndColorsAndImages/Landing Page Image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#Lets-Play {
  color: margin-bottom: 0px;
}

#Memory {
  margin-top: 0px;
}

/* modal */

.modal-quit-font {
  font-size: 22px;
}

#autocomplete-input {
  font-size: 29px;
  color: #ffe727;
}

.modal-index {
  font-size: 25px;
}

.modal-background {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

h4, #play, .modal-font {
  font-family: 'Press Start 2P', cursive;
  color: #FFE727;
  text-shadow: -2px -2px 0 #924B53, 2px -2px 0 #924B53, -2px 2px 0 #924B53, 2px 2px 0#924B53;
}

/* ///////////////The Card States//////////////// */

.card {
  box-shadow: 3px 4px 5px 0px;
  margin: auto;
  padding: 5%;
}

.background-style {
  background-color: #e1e645;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.card-back {
  display: grid;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  background-color: #e0cc38;
  border-radius: 9%;
  align-self: center;
  height: 100px;
  width: 10%;
  margin-left: 1%;
  margin-bottom: 1%
}

.hide {
  display: none;
}

.show {
  justify-content: center;
  align-content: space-evenly;
  margin-left: 1%;
  background-color: #fff5ae;
  border-style: solid;
  border-radius: 5%;
  border-color: #adbf4d85;
  font-size: 60px;
  align-self: center;
}

.correct {
  opacity: .7;
  border-color: #327d3b;
  background-color: #72b142;
}

.info p {
  font-family: 'Press Start 2P', cursive;
  font-size: 27px;
}

.title {
  margin-bottom: 15px;
  font-family: 'Monoton';
  font-size: 90px;
}

.transform-title {
  /* margin-bottom: 15px; */
  font-family: 'Monoton';
  font-size: 80px;
}

#lets-play, #quit, #minutes, #seconds, .timer {
  font-family: 'Press Start 2P', cursive;
  color: #FFE727;
  text-shadow: -2px -2px 0 #597014, 2px -2px 0 #597014, -2px 2px 0 #597014, 2px 2px 0 #597014;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.deck {
  background: #ec2045;
  padding: 1%;
  border-radius: 14px;
  box-shadow: inset -2px 0px 26px 0px rgba(117, 47, 80, 0.43);
  align-items: center;
  margin: 0 0 3em;
  border-style: solid;
  border-color: #32353580;
}

div button h6 {
  font-size: 25px;
  vertical-align: text-top;
}

.btn {
  border-width: 2px;
  background-color: #72b041;
  height: 50px;
  box-shadow: inset 0px 1px 20px 0px;
}

.btn-margin {
  margin-left: 315px;
}

.card-panel {
  background-color: #ffb0b000;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 50px;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .info p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .btn-margin {
    margin-left: 0px;
  }
  .card-back {
    display: grid;
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    background-color: #e0cc38;
    border-radius: 9%;
    align-self: center;
    height: 60px;
    width: 10%;
    margin-left: 1%;
    margin-bottom: 1%
  }
}

@media only screen and (max-width: 800px) {
  .show {
    justify-content: center;
    align-content: space-evenly;
    margin-left: 1%;
    background-color: #fff5ae;
    border-style: solid;
    border-radius: 5%;
    border-color: #adbf4d85;
    font-size: 30px;
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .show {
    justify-content: center;
    align-content: space-evenly;
    margin-left: 1%;
    background-color: #fff5ae;
    border-style: solid;
    border-radius: 5%;
    border-color: #adbf4d85;
    font-size: 25px;
    align-self: center;
  }
}

@media only screen and (max-width: 990px) {
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: .9rem;
  }
  .game-row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
  .move-count {
    padding-bottom: 10%;
  }
  .cards {
    height: 145px;
  }
}
