
h1 {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}

h4 {
  color: #ffffffe0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#loginPage {
  background: url("/books-finals.jpg") center fixed;
  text: black;
  font-weight: bolder;
  font-size: large;
}

#login {
  color: #000000;
}

#newButt {
  color: #000000;
}

#clearNew {
  color: #000000;
}

#oldButt {
  color: #000000;
}

.dashboardBody {
  background: url("/stacked-books.png") center fixed;
  background-color: #36aee857;
  text: black;
  font-weight: bolder;
  font-size: large;
}

.delButton {
  background-color: #d32f2f80;
}

.help {
  color: #ffffffe0;
}
span.help {
  font-size: 25px;
}
.information {
  font-size: 20px !important;
  color: #ffffffe0;
}
.ordList {
  background-color: rgb(84, 110, 121);
}

.lato {
  font-family: 'Lato', sans-serif;
}

.noteButton {
  background-color: #4caf5078;
}

.song {
  font-family: 'Song Myung', serif;
}
.textarea {
  font-size: 25px !important;
}
.title {
  font-size: 25px !important;
}
.videoRow {
  margin-bottom: 10px;
  margin-top: 10px;
}
.watch {
  margin-left: 65px;
}
h3.padding-right {
    color: #ffffffe0;
    margin-right: 24px;
}
.padding-left {
    padding-left: 10px;
}
a.brand-logo {
    left: 10px;
}