#loginPage {
  background: url("/books-finals.jpg") center fixed;
  text: black;
  font-weight: bolder;
  font-size: large;
}
.dashboardBody {
  background: url("/stacked-books.png") center fixed;
  background-color: #36aee857;
  text: black;
  font-weight: bolder;
  font-size: large;
}
h1{
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
h4{
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#login {

  color: #000000;
}
#newButt {
  color: #000000;
}
#oldButt {
  color: #000000;
}
.help {
  color: white;
}
.ordList{
  background-color: rgb(84, 110, 121);
}
.song {
  font-family: 'Song Myung', serif;
}
.lato {
  font-family: 'Lato', sans-serif;
}
.delButton {
  background-color: #d32f2f80;
}
.noteButton {
  background-color: #4caf5078;
}