font-family: 'Song Myung', serif;

h1 {
  color:white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#loginPage {
  background: url("./books-finals.jpg") center fixed;
  text: black;
  font-weight: bolder;
  font-size: large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
